@font-face {
    font-family: 'zabars';
    
    src: 
         url('zabars.ttf')  format('truetype'), /* Safari, Android, iOS */
        
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/img/desert-bg.jpg');
    background-position: center;
    font-family: 'zabars';
}

canvas {
    background-color: black;
}

.controls {
    color: white;

    padding-top: 20px;
}

.controls img {
    padding-top: 20px;
    height: 40px;
}